dist/game/log/
dist/login/log/
dist/backup/
/dist/libs
tools/
build/
docs/
/dist/game/GameServerTask.bat
/dist/game/GameServerTask.sh
/dist/login/Start.bat
/dist/login/LoginServerTask.sh
/dist/login/LoginServerTask.bat
/dist/login/LoginServerTask.sh
/dist/login/LoginServer.bat
/launcher/
*.log
*.md
*.py
*.out
**/*.log
**/*.md
**/*.py
*/*.out
*.settings
*.csv
*.ps1
*.json
*.txt
*.